name: Sync to Hugging Face

on:
  push:
    branches: [ master ]

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo (FULL history)
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 

      - name: Verify branch
        run: |
          git branch
          git log --oneline -3

      - name: Configure git
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

      - name: Push to Hugging Face
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git config user.name "Johnny"
          git config user.email "saranvicky2000@gmail.com"
          git remote remove hf || true
          git remote add hf https://Ramanaaa:${HF_TOKEN}@huggingface.co/spaces/Ramanaaa/SQL_AI_Assist
          git push hf HEAD:master

